@import "tailwindcss";

@theme {
  --color-club-black: #1a1a1a;
  --color-club-yellow: #FFD700;
  --color-club-yellow-dark: #cca700;
}

body {
  @apply bg-club-black text-white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
